node_modules
.npm-cache
.next
.env
.env.*
!.env.example
data/
/public/fonts/fa/
shoply-data-test/
.history/
*.db
*.db-*
*.sqlite
*.sqlite-*
*.log
logs/
tsconfig.tsbuildinfo
.git/
.gitignore
.DS_Store
Thumbs.db
.vscode/
.idea/
