ADMIN_NAMES=Admin
MEMBER_NAMES=Family

PASSWORD_LENGTH=64
DEFAULT_CATEGORIES=
PORT=3000
DATA_VOLUME_PATH=./data
COOKIE_SECURE=false
FONTAWESOME_HOST=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_SUBJECT=mailto:contact@itsmarian.dev
